.container
	position fixed
	left auto
	right auto
	top: 50%
	transform translate(-50%, -50%)
	left 50%
	text-align center
	#isfree
		font-size: 40vw
		color: white


	#description
		font-size: 1.5vw
		margin-top -10vw
		color white
	h1
		margin-bottom -8vw
		color white

.stylish
	letter-spacing 2px
	text-transform uppercase
	font-weight 100

